name: Deploy to AWS using CDK

on:
  push:
    branches: [ production ]

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v2

    - name: Configure AWS credentials
      uses: aws-actions/configure-aws-credentials@v1
      with:
        aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
        aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
        aws-region: ap-northeast-1

    - name: Install dependencies
      run: npm install

    - name: Build CDK
      run: npm run build --prefix infrastructure/cdk

    - name: Deploy CDK
      run: npx cdk deploy --require-approval never --app "npx ts-node ./infrastructure/cdk/bin/cdk.ts"
